/bin/*
!/bin/data/
[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
*.xcworkspace
*.depend
*.layout
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/
.metadata
local.properties
.externalToolBuilders
*~
.directory
.AppleDouble
.DS_Store
*.swp
*~.nib
._*
Thumbs.db
Desktop.ini
.csettings
.vs/
*.ncb
*.opendb
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap